%h1 Players

%ol#players
  - @players.each do |player|
    %li
      = player.name
      %section.player-buttons
        - if player != @current_player
          %form{:method => 'post', :action => '/challenge'}
            %input{:type => 'hidden', :name => 'challenge[from_player_id]', :value => @current_player.id}
            %input{:type => 'hidden', :name => 'challenge[to_player_id]', :value => player.id}
            %button.button{:type => 'submit', :class => 'challenge'}
              Challenge
        - else
          %span.you You!
        %a.button.edit{:href => "/player/#{player.id}/edit"}
          Edit
        %form{:method => 'post', :action => "/player/#{player.id}/delete"}
          %button.button{:type => 'submit', :class => 'delete'}
            Delete

%section.controls
  %a.button.add{:href => "/player/new"}
    Add Player
  %a.button.new_challenge{:href => "/challenge/new"}
    New Challenge
    
