.row-fluid
  - if current_player
    .span3
      .sidebar
        = haml(:"players/profile")
  - else
    .span3.sidebar
      %a.btn.large{:href => "/login"} Login to see your Profile here
  .span9.players
    - @players.each do |player|
      = haml(:"players/player", :locals => {:player => player})


= haml(:"games/enter_score_modal")
