.row
  .span4.offset4
    %form.form-vertical.well{:method => "post", :action => "/login"}
      %fieldset
        %legend Login to Latter
        .control-group
          %label.control-label{:for => "email"} Email address:
          .controls
            .input-prepend
              %span.add-on @
              %input#email{:size => 16, :type => "text"}
        %button.btn.btn-large.btn-primary{:type => 'submit'} Login
        .clearfix

