.row
  %form.well.span6.offset3{:method => "post", :action => "/login"}
    .control-group
      %label{:for => 'email'}
        Email address
      .controls
        .input-prepend
          .add-on
            %i.icon-envelope
          %input.span5{:type => "email", :name => "email"}
    .form-actions
      %button.btn.btn-large.btn-primary{:type => 'submit'} Login

