.row
  .span4.offset4
    %form.form-vertical.well{:method => "post", :action => "/login"}
      %fieldset
        %legend Login to Latter
        .control-group
          %label.control-label{:for => "email"} Email address:
          .controls
            .input-prepend
              %span.add-on @
              %input#email{:size => 16, :name => 'email', :type => "email"}
        .control-group
          %label.control-label{:for => "password"} Password:
          .controls
            .input-prepend
              %span.add-on #
              %input#password{:size => 16, :name => 'password', :type => 'password'}
        %button.btn.btn-large.btn-primary{:type => 'submit'} Login
        .clearfix

