.about_section.hidden-phone.hidden-tablet
  %h3 About Latter
  %p
    Latter is a table-tennis ladder that is used (a lot) by the staff
    at <a href="http://3months.com">3months.com</a>.

  %h5 Think this is cool?
  %ul
    %li
      %a{:href => "http://www.3months.com/company/work-for-us"} Come work with us
    %li
      %a{:href => "http://3months.com/contact-us"} Contact us
    %li
      %a{:href => "https://github.com/joshmcarthur/Latter"} Check out the source code on Github
  %h5 Have an account?
  %p.clearfix
  %a.btn.btn-large.btn-info{:href => "/login"} Login
