!!!

%html.no-js{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE-edge,chrome=1"}

    %link{'href' => '/favicon.ico', :type => 'application/x-icon', :rel => 'shortcut icon'}
    %link{:href => '/apple-touch-icon.png', :rel => 'apple-touch-icon', :type => 'image/png'}
    %link{:href => '/css/screen.css', :rel => 'stylesheet', :type => 'text/css'}
    %meta{:name => "description", :content => "Latter :: Table Tennis Ladder"}
    %meta{:name => "author", :content => "sudojosh"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}


    %title Latter

    /[if lt IE 8]
      %link{:href => '/css/ie.css', :rel => 'stylesheet', :type => 'text/css', :rel => 'screen, projection'}

    %script{:type => 'text/javascript', :src => '/js/modernizr.min.js'}

  %body
    %section#main
      = yield
    %footer
      %div
        Latter
        = ":: #{@current_player.name}" if @current_player

    %script{:type => 'text/javascript', :src => '/js/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/application.js'}

