!!!

%html.no-js{:lang => "en"}

  %head
    %meta{:charset => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", :content => "IE-edge,chrome=1"}

    %link{'href' => '/favicon.ico', :type => 'application/x-icon', :rel => 'shortcut icon'}
    %meta{:name => "description", :content => "Latter :: Table Tennis Ladder"}
    %meta{:name => "author", :content => "sudojosh"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}

    %link{:rel => "stylesheet", :href => "/css/bootstrap.css"}
    %link{:rel => "stylesheet", :href => "/css/custom.css"}

    %title Latter

    %script{:type => 'text/javascript', :src => '/js/modernizr.min.js'}

    - if ENV['GA_TRACKING_CODE']
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '#{ENV['GA_TRACKING_CODE']}']);
        _gaq.push(['_trackPageview']);
        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          - if current_player
            .btn.pull-left.btn-navbar{:"data-toggle" => "collapse", :"data-target" => ".nav-collapse"}
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
          %a.pull-right.brand{:href => "/"} Latter

          - if current_player
            .nav-collapse
              %ul.nav.pull-left
                %li.dropdown
                  %a.dropdown-toggle{:"data-toggle" => "dropdown", :href => "#"}
                    Players
                    %b.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "/players"} All Players
                    %li
                      %a{:href => "/players/new"} New Player
                %li
                  %a{:href => "/games"} Games
                %li
                  %a{:href => "/statistics"} Statistics
                %li
                  %a{:href => "/pages/rules"} Rules
                %li
                  %a{:href => "#watch", :id => "watch"} Watch
                %li
                  %a{:href => "/logout"} Logout
          - else
            %ul.nav.pull-left
              %li
                %a{:href => '/login'} Login
    .container-fluid
      = yield

    %script{:type => 'text/javascript', :src => 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'}
    %script{:type => 'text/javascript', :src => '/js/bootstrap.min.js'}
    %script{:type => 'text/javascript', :src => '/js/application.js'}
    - if current_player
      :javascript
        $(document).ready(pollActivity)
        fetchActivities(function(data) {
          addActivities(data);
        });
