.navbar a.brand {
  padding-right: 0;
  padding-left: 125px;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: white;
  background: url(/img/latter.png) no-repeat 50% 50%;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  transition: all .2s linear;
}

.player.name h1 { line-height: 50px; }
a.player.email { line-height: 30px; font-size: 18px; }
a.player.email i { margin: 3px; }

#stats .thumbnail h1 { font-size: 50px; text-align: center; line-height: 100px; }
#stats .thumbnail .label { font-size: 18px; line-height: 25px; text-align: center; }

#enter_score label { font-weight: bold; }
#enter_score input { width: 50%; margin: 10px 20%; }
#enter_score .vs h3 { line-height: 200px; }
.modal-body .span2 { width: 40%; float: left; }
.modal-body .span1.vs { width: 20%; float:left; }

#challenges .thumbnail.winner { background-color: #46a546; }
#challenges .thumbnail.loser  { background-color: #9d261d; }
#challenges .thumbnail.drawer { background-color: #f89406; }

.sidebar { background-color: #EFEFEF; margin-bottom: 10px;}
.profile { padding: 10%; }
.profile h2 { text-align: center; }
.profile .thumbnail { box-shadow: none; border: none;}

.player .ranking {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #FF0000;
}

.player {
  margin-bottom: 2%;
}

.player h3 { line-height: 200%; }

.player:nth-child(odd) { background-color: #F9F9F9; }

.vs { text-align: center; }
.modal-body .vs { width: 130px; }
.vs h1 { font-size: 150px; line-height: 200px; }

.stat-group .progress {
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.stat-group .label {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.stat-group .label.ranking {
  line-height: 20px;
}


// Landscape phones and down
@media (max-width: 480px) {

}

// Landscape phone to portrait tablet
@media (max-width: 768px) {
  .player .controls .btn { font-size: 8px; }
  .stat-group.win_percentage { display: none; }
}

// Portrait tablet to landscape and desktop
@media (min-width: 768px) and (max-width: 980px) {
  .player .controls .btn { font-size: 10px; }
  .modal-body .span1.vs { width: 5%; }
  .sidebar {  min-height: 800px; }

}

@media (min-width: 980px) {
  body { padding-top: 60px; }
  .modal-body .span1.vs { width: 5%; }
  .sidebar {  min-height: 800px;  }


}

// Large desktop
@media (min-width: 1200px) {

}
