.navbar a.brand {
  padding-right: 0;
  padding-left: 125px;
  margin-left: 20px;
  float: right;
  font-weight: bold;
  color: white;
  background: url(/img/latter.png) no-repeat 50% 50%;
}

/* Bootstrap override for login page */
.input-prepend .add-on, .input-prepend .btn { margin-right: -5px;  }

/* Make sure ranking doesn't change on hover */
.ranking.label-important:hover, .ranking .label-important:hover {
  background-color: #B94A48;
}

/* Modal dialog */
.modal-body .thumbnail input  { display: block; width: 50%; margin: 10px auto; }

/* Players#show */
.player_show .player_name { float: left; margin-left: 2%; }
.player_show .info { clear: both; margin-bottom: 2%; }
.player_name h1 { line-height: 50px; }
a.player_email { line-height: 30px; font-size: 17px; }
a.player_email i { margin: 3px; }
.player_show .player_avatar { float: left; line-height: 80px; }

#stats .thumbnail h1 { font-size: 50px; text-align: center; line-height: 100px; }
#stats .thumbnail .label { font-size: 18px; line-height: 25px; text-align: center; }

#enter_score label { font-weight: bold; }
#enter_score { overflow-x: hidden; }
#enter_score .vs h3 { line-height: 250px; }

/* Games#index */
#games .thumbnail.won { background-color: #46a546; }
#games .thumbnail.lost  { background-color: #9d261d; }

.sidebar {
  margin-bottom: 10px;
}

.hidden {
  visibility: visible;
}

#activities {
  margin-top: 20px;
}
#activities li {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-bottom: 1px dotted #222;
}

#activities li:last-child {
  border-bottom: none;
}

.profile, #activities, .about_section {
  padding: 10%;
  background-color: #333;
  color: #FFF;
  border-radius: 10px;
}

.about_section a {
  color: whiteSmoke;
  line-height: 150%;
  border-bottom: dotted 1px whiteSmoke;
  text-decoration: none;
}

.about_section a.btn { width: 90%; margin: auto; border-bottom: inherit; }


#activities { background-color: #DDD; color: #222;  }
.profile .info { text-align: center; margin: 10% auto; }
.profile .thumbnail { box-shadow: none; border: none;}

.player .ranking, .profile .ranking {
  display: block;
  padding: 15%;
  font-size: 200%;
  text-align: center;
}

.player {
  margin-bottom: 2%;
  padding: 1%;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.player h3 { line-height: 200%; }
.player .controls .btn { font-size: 12px; }

.player:nth-child(odd) { background-color: #EDEDED; }

.player.you { background-color: #D9EDF7; }


.vs { text-align: center; }
.vs h1 { font-size: 150px; line-height: 1; }

.stat-group .progress {
  margin-bottom: 0px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.stat-group .label {
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.stat-group .label.ranking {
  line-height: 20px;
}


@media (max-width: 480px) {
  /* Current user profile */
  .profile { padding: 2%; }
  .profile .thumbnail > img { max-height: 100px; }
  .profile .info { margin: 2% auto; }
  .profile .ranking { width: 30%; padding: 1%; font-size: 150%; margin: auto; }

  /* A Player row */
  .player { border-radius: 5px; }
  .player .thumbnail { float: left; }
  .player .thumbnail > img { max-height: 36px; }
  .player h3 { float: left; margin-left: 5%; line-height: 36px; }
  .player .row-fluid:last-child { margin-top: 2%; }
  .player .row-fluid:last-child .span2 { width: 100%; }
  .player .row-fluid:last-child .controls .btn { font-size: 12px; width: 40% !important; line-height: 150%; }
  .player .row-fluid:last-child .ranking { padding: 2%; font-size: 120%; margin: 2% auto; }
  .ranking { width: 50%: }

  /* Game row */
  .game.row-fluid .thumbnail > img { height: 9% !important; }
  .game.row-fluid .vs { margin: auto 1%; }
  .game.row-fluid .vs h1 { font-size: 50px !important; }

  /* Modal dialog */
  .modal-body .thumbnail { margin: 2px !important; }
  .modal-body .thumbnail img { max-height: 90px !important; }

}

@media (max-width: 769px) {

  /* Current user profile */
  .sidebar { border-radius: 5px !important; margin-bottom: 25px;  }
  .profile { padding: 2%; }
  .profile .thumbnail > img { max-height: 150px; }
  .profile .info { margin: 5%; auto; }
  .profile .ranking { width: 50%; padding: 2%; font-size: 150%; margin: auto; }

  /* A Player row */
  .player { border-radius: 5px; }
  .player .stat-group { display: none; }
  .player .thumbnail { float: left; }
  .player .thumbnail > img { max-height: 48px; }
  .player h3 { float: left; margin-left: 5%; line-height: 48px; }
  .player .row-fluid:last-child { margin-top: 2%; }
  .player .row-fluid:last-child .span2 { width: 100%; }
  .player .row-fluid:last-child .controls .btn { font-size: 12px; width: 42%; line-height: 150%; }
  .player .row-fluid:last-child .ranking { padding: 2%; font-size: 120%; margin: 2% auto; }
  .ranking { width: 50%: }

  /* Players#show */
  #stats .thumbnail {
    border: none;
    border-radius: 0;
    box-shadow: none;
    border-bottom: solid 1px #DDD;
    margin: 10px auto;
  }

  #stats .thumbnail h1 {
    font-size: 24px;
    line-height: 1;
  }

  #stats .thumbnail .label {
    font-size: inherit;
    line-height: inherit;
    width: 50%;
    margin: auto;
  }

  /*.game.row */
  .game.row-fluid .span3, .game.row-fluid .span6 { float: left; }
  .game.row-fluid .span3 { width: 23.404255317%; }
  .game.row-fluid .span6 { width: 48.93617020799999%; }
  /*.game.row-fluid .thumbnail > img { height: 13%; }*/
  .game.row-fluid .vs { margin: auto 2%; }
  .game.row-fluid .vs h1 { font-size: 75px; }

  /* Modal dialog */
  .modal-body .row-fluid > [class*="span"] { float: left; }
  .modal-body .thumbnail { margin: 10px 40px; }
  .modal-body .thumbnail img { max-height: 250px; }


}


@media (min-width: 769px) and (max-width: 980px) {
  /* Player row */
  .player .row-fluid:last-child .statistics {
    width: 31.491712705%; /* The width of a .span4 */
  }
  .player .row-fluid:last-child .stat-group .label {
    font-size: 9px;
  }
  .player .row-fluid:last-child .controls {
    width: 48.618784527%; /* The width of a .span6 */
  }

}

@media (min-width: 980px) {

  body { padding-top: 60px; }
}

@media (min-width: 1200px) {
  /* Player row - switch to more block elements */
  .player .statistics { float: none; }
  .player .controls { float: none; margin-top: 10px; margin-left: 0; }
  .player .controls .btn { width: 39%; font-size: 14px; }
  .player .row-fluid:last-child { position: relative; }
  .player .row-fluid:last-child .span2 { /* Ranking container */
    position: absolute;
    top: 0px;
    right: 0px;
    float: none;
  }
}
