@charset "UTF-8";
/*  HTML5 ✰ Boilerplate  */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

body {
  font: 13px/1.231 sans-serif;
  *font-size: small; }

select, input, textarea, button {
  font: 99% sans-serif; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

body, select, input, textarea {
  color: #444; }

h1, h2, h3, h4, h5, h6 {
  font-weight: bold; }

html {
  overflow-y: scroll; }

a:hover, a:active {
  outline: none; }

a, a:active, a:visited {
  color: #607890; }

a:hover {
  color: #036; }

ul, ol {
  margin-left: 1.8em; }

ol {
  list-style-type: decimal; }

nav ul, nav li {
  margin: 0; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

sub {
  vertical-align: sub;
  font-size: smaller; }

sup {
  vertical-align: super;
  font-size: smaller; }

pre {
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

textarea {
  overflow: auto; }

.ie6 legend, .ie7 legend {
  margin-left: -7px; }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom; }

.ie7 input[type="checkbox"] {
  vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

label, input[type=button], input[type=submit], button {
  cursor: pointer; }

button, input, select, textarea {
  margin: 0; }

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red; }

.no-boxshadow input:invalid,
.no-boxshadow textarea:invalid {
  background-color: #f0dddd; }

::-moz-selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #FF5E99;
  color: #fff;
  text-shadow: none; }

a:link {
  -webkit-tap-highlight-color: #FF5E99; }

button {
  width: auto;
  overflow: visible; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.ir {
  display: block;
  text-indent: -999em;
  overflow: hidden;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr; }

.hidden {
  display: none;
  visibility: hidden; }

.visuallyhidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px); }

.invisible {
  visibility: hidden; }

.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

/* Fonts */
@font-face {
  font-family: 'DroidSansRegular';
  src: url("../fonts/DroidSans-webfont.eot");
  src: url("../fonts/DroidSans-webfont.eot?iefix") format("eot"), url("../fonts/DroidSans-webfont.woff") format("woff"), url("../fonts/DroidSans-webfont.ttf") format("truetype"), url("../fonts/DroidSans-webfont.svg#webfontw7zqO19G") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'DroidSansBold';
  src: url("../fonts/DroidSans-Bold-webfont.eot");
  src: url("../fonts/DroidSans-Bold-webfont.eot?iefix") format("eot"), url("../fonts/DroidSans-Bold-webfont.woff") format("woff"), url("../fonts/DroidSans-Bold-webfont.ttf") format("truetype"), url("../fonts/DroidSans-Bold-webfont.svg#webfontSOhoM6aS") format("svg");
  font-weight: normal;
  font-style: normal; }

html, body {
  height: 100%;
  width: 100%;
  color: #454545;
  font-size: 16px;
  font-family: 'DroidSansRegular', sans-serif; }

body {
  /* Opera */
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDIzMiwyMzIsMjMyLDEpOyIgLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0eWxlPSJzdG9wLWNvbG9yOnJnYmEoMjM5LDIzOSwyMzksMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
  /* Firefox */
  background: -moz-linear-gradient(top, #e8e8e8, #efefef);
  /* Chrome & Safari */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e8e8e8), color-stop(1, #efefef));
  /* IE5.5 - IE7 */
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFE8E8E8,EndColorStr=#FFEFEFEF);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFE8E8E8,EndColorStr=#FFEFEFEF)"; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'DroidSansBold', sans-serif; }

h1 {
  font-size: 30px; }

h2 {
  font-size: 25px; }

h3 {
  font-size: 22px; }

h4 {
  font-size: 20px; }

h5 {
  font-size: 18px; }

h6 {
  font-size: 16px; }

section#main {
  width: 50%;
  margin: 2% auto; }

ol#players {
  width: 100%;
  margin: 2% auto;
  font-size: 30px;
  list-style-position: inside; }

ol#players li {
  line-height: 40px;
  padding: 10px;
  border-bottom: solid 1px #CCC; }

ol#players li section.player-buttons {
  float: right; }

ol#players li section.player-buttons form {
  display: inline-block; }

ol#players li section.player-buttons form button.challenge {
  margin: 0; }

section.controls {
  width: 100%;
  margin: 2% auto;
  border-top: solid 2px #454545; }

section.controls .button {
  line-height: 45px;
  text-align: center;
  width: 125px;
  margin: 15px 10px; }

form#login, form.styled {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 0px 25px #888;
  margin: 10% auto;
  width: 380px;
  padding: 50px 20px;
  background-color: #CEF28A;
  border: solid 1px #7FC938; }

form legend {
  font-size: 30px;
  font-family: 'DroidSansBold', sans-serif;
  margin-top: -8%;
  margin-bottom: 10px; }

form label {
  display: block;
  font-size: 20px;
  text-shadow: 0 -1px 0 rgba(100, 100, 100, 0.1); }

form input[type=text] {
  padding: 5px 10px;
  border: 1px solid #D8DEE2;
  width: 350px;
  line-height: 40px;
  font-size: 30px; }

footer {
  bottom: 0px;
  position: fixed;
  width: 100%;
  color: #FFF;
  background: #3E9533;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#419B36',endColorstr='#357F2C');
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#419b36), to(#357f2c));
  background: -moz-linear-gradient(-90deg, #419b36, #357f2c);
  border-bottom-color: #3E9533; }

footer div {
  color: white;
  line-height: 65px;
  width: 100%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  border-top: solid 1px #999;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); }

button.button:hover, button.button:focus {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3); }

.button.login {
  margin-bottom: 5px;
  margin-top: 5px;
  min-width: 100px; }

.button.login:hover, .button.login:focus {
  color: #FFF;
  background: #3E9533;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#419B36',endColorstr='#357F2C');
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#419b36), to(#357f2c));
  background: -moz-linear-gradient(-90deg, #419b36, #357f2c);
  border-bottom-color: #3E9533; }

.button.challenge:hover, .button.challenge:focus {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border-bottom-color: #0770a0;
  background: #0770a0;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ca6dd',endColorstr='#0770a0');
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#0ca6dd), to(#0770a0));
  background: -moz-linear-gradient(-90deg, #0ca6dd, #0770a0); }

.button.delete:hover, .button.delete:focus {
  color: white;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  background: #B33630;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#DC5F59',endColorstr='#B33630');
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#dc5f59), to(#b33630));
  background: -moz-linear-gradient(-90deg, #dc5f59, #b33630);
  border-bottom-color: #CD504A; }

.button.edit:hover, .button.edit:focus {
  /* Opera */
  background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPjxkZWZzPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMCUiIHkyPSIxMDAlIj48c3RvcCBvZmZzZXQ9IjAlIiBzdHlsZT0ic3RvcC1jb2xvcjpyZ2JhKDI1MSwxODQsNDEsMSk7IiAvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3R5bGU9InN0b3AtY29sb3I6cmdiYSgyNTUsMTM2LDAsMSk7IiAvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IGZpbGw9InVybCgjZ3JhZGllbnQpIiBoZWlnaHQ9IjEwMCUiIHdpZHRoPSIxMDAlIiAvPjwvc3ZnPg==);
  /* Firefox */
  background: -moz-linear-gradient(top, #fbb829, #ff8800);
  /* Chrome & Safari */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fbb829), color-stop(1, #ff8800));
  /* IE5.5 - IE7 */
  filter: progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFBB829,EndColorStr=#FFFF8800);
  /* IE8 */
  -ms-filter: "progid:DXImageTransform.Microsoft.Gradient(GradientType=0,StartColorStr=#FFFBB829,EndColorStr=#FFFF8800)";
  color: #FFF; }

.button.add:hover, .button.add:focus {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border-bottom-color: #0770a0;
  background: #0770a0;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ca6dd',endColorstr='#0770a0');
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#0ca6dd), to(#0770a0));
  background: -moz-linear-gradient(-90deg, #0ca6dd, #0770a0); }

.button.new_challenge:hover, .button.new_challenge:focus {
  color: #fff;
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3);
  border-bottom-color: #0770a0;
  background: #0770a0;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#0ca6dd',endColorstr='#0770a0');
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(#0ca6dd), to(#0770a0));
  background: -moz-linear-gradient(-90deg, #0ca6dd, #0770a0); }

button.button, a.button {
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  line-height: 30px;
  padding: 0;
  position: relative;
  top: 1px;
  margin: 0px 10px;
  float: right;
  overflow: auto;
  font-family: 'DroidSansRegular',sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #333;
  text-shadow: 1px 1px 0 white;
  white-space: nowrap;
  border: none;
  overflow: visible;
  background: #DDD;
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='white',endColorstr='#E1E1E1');
  background: -webkit-gradient(linear, 0% 0, 0% 100%, from(white), to(#e1e1e1));
  background: -moz-linear-gradient(-90deg, white, #e1e1e1);
  border-bottom: 1px solid #EBEBEB;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-left: 1px;
  padding: 0 13px;
  -webkit-font-smoothing: subpixel-antialiased!important; }

span.you {
  float: left;
  line-height: normal;
  text-decoration: none;
  display: inline-block;
  line-height: 30px;
  padding: 0;
  position: relative;
  top: 1px;
  margin: 0px 10px;
  overflow: auto;
  font-family: 'DroidSansRegular', sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #333;
  text-shadow: 1px 1px 0 white;
  white-space: nowrap;
  border: none;
  overflow: visible;
  background: #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  margin-left: 1px;
  padding: 0 13px;
  -webkit-font-smoothing: subpixel-antialiased!important; }

@media all and (orientation:portrait) {}
@media all and (orientation:landscape) {}
@media screen and (max-device-width: 480px) {
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */ }

@media print {
  * {
    background: transparent !important;
    color: #444 !important;
    text-shadow: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }

  a:after {
    content: " (" attr(href) ")"; }

  abbr:after {
    content: " (" attr(title) ")"; }

  .ir a:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2, h3 {
    page-break-after: avoid; } }
