<div class="about">
  <h3>About Latter</h3>

  <p>
  Latter is a table tennis ladder that is used (a lot) by
  the staff at
  <%= link_to '3months', 'http://3months.com' %>
  </p>

  <h5>Think this is cool?</h5>
  <ul>
    <li>
    <a href="http://www.3months.com/working-for-us/">Come work with us</a>
    </li>

    <li>
    <a href="http://3months.com/contact-us">Contact us</a>
    </li>

    <li>
    <a href="https://github.com/joshmcarthur/Latter">Check out the source code on Github</a>
    </li>
  </ul>

  <h5>Have an account?</h5>
  <p class="clearfix"></p>
  <%= link_to 'Login', new_player_session_path, :class => 'btn btn-large btn-info' %>
</div>
