<tr>
	<td><%= image_tag (badge_detail.imageURL) %></td>
	<td><h3><%= badge_detail.name %></h3></td>
	<td><%= badge_detail.description %></td>
	<td>
		<% if badge_detail.players.any? %>
			<ul>
			<% badge_detail.players.each do |item| %>
				<li><%= item.name %></li>
			<% end %>
			</ul>
		<% else %>
		No-one yet
		<% end %>
	</td>
</tr>