<tr>
	<td><%= image_tag (player_award.badge.imageURL) %></td>
	<td><h3><%= player_award.badge.name %></h3></td>
	<td><%= player_award.badge.description %></td>
	<td><%= player_award.award_date.strftime("Achieved %d %B %Y") %></td>
</tr>