<div class="page-header">
  <h1>Statistics</h1>
</div>

<div class="row-fluid">
  <div class="span6">
    <h4 class="chart-title"><%= I18n.t('statistics.monthly_games.heading') %></h4>
    <div class="chart" id="weekly_games_chart"></div>
  </div>

  <div class="span6">
    <h4 class="chart-title"><%= I18n.t('statistics.weekly_games.heading') %></h4>
    <div class="chart" id="daily_games_chart"></div>
  </div>
</div>

<div class="row-fluid">
  <div class="span12">
    <h4 class="chart-title"><%= I18n.t('statistics.challenged_count.heading') %></h4>
    <div class="chart" id="challenged_count_chart"></div>
  </div>
 </div>

 <div class="row-fluid">
  <div class="span12">
    <h4 class="chart-title"><%= I18n.t('statistics.challenger_count.heading') %></h4>
    <div class="chart" id="challenger_count_chart"></div>
  </div>
 </div>

</div>