<% if form.object.errors.any? %>
  <div class="control-group"></div>
  <div class="alert alert-error">

    <h3 class="alert-heading">
      <%= I18n.t(
        'shared.form_errors.heading', 
        :prefix => pluralize(form.object.errors.count, "error"), 
        :name => form.object.class.name.humanize)
      %>
    </h3>

    <p>
      <ul>
        <% form.object.errors.full_messages.each do |error| %>
          <li><%= error %></li>
        <% end %>
      </ul>
    </p>
  </div>
<% end %>
