<div class="page-header">
  <h1>Rules</h1>
</div>

<h2>Game Rules</h2>
<dl>
  <dt>Serving</dt>
  <dd>
  <ul>
    <li>Servers switch every 5 points</li>
    <li>Initial server is decided by first scorer</li>
  </ul>
  </dd>
  <dt>Games</dt>
  <dd>
  <ul>
    <li>Games may be played to either 21 or 11 points</li>
  </ul>
  </dd>
</dl>
<h2>App Rules</h2>
<dl>
  <dt>Challenging</dt>
  <dd>
  <ul>
    <li>A challenge may only be made to someone directly above or below you on the ladder</li>
    <li>The defender of the challenge is the only player who may enter the score (unless live scoring)</li>
    <li>Dont' challenge more people than you can play in a reasonable amount of time</li>
  </ul>
  </dd>
</dl>

