<% if I18n.locale == :mi %>
<div class="alert alert-info">
  <h3>
    <i class='icon-comments-alt'></i>
    Tau ehara whārangi ipurangi i te whakamāori
  </h3>

  <p>
    Aroha mai, but due to the amount of content on this page, it
    remains in English.
  </p>
</div>
<% end %>

<div class="page-header">
  <h1>
    Rules &amp; Regulations
  <small>
    <%= link_to 'Adapted from International Table Tennis Federation regulations', 'http://www.ittf.com/ittf_handbook/ittf_hb.html' %>
  </small>
</h1>
</div>

<div class="row-fluid">
  <div class="span8">
    <h2>Game Rules</h2>

    <dl>
      <dt>Service</dt>
      <dd>
        <p>
        At the start of service the ball shall be stationary, resting
        freely on the flat, open palm of the server's free hand, behind the end
        line and above the level of the playing surface.
        </p>

        <p>
          The server shall then project the ball near vertically upwards, without
          imparting spin, so that it rises at least 6 inches after leaving the palm
          of the free hand.
        </p>

        <p>
          As the ball is falling from the highest point of it's trajectory, the server
          shall strike it so that it touches first his court and then, after passing over or
          around the net assembly, the receiver's court; in doubles, the ball shall touch
          successively the right half court of server and receiver.
        </p>

        <p>
          The ball and the racket must be above the level of the playing service during the service toss.
        </p>

        <p>
          When the ball is truck, it must be behind the server's end line, but not
          farther back than the part of the server's body, other than his arm, head or leg,
          which is farthest from his end line.
        </p>

        <p>
          If the serve bounces once in the server's court, then twice in the receiver's 
          court, the point goes to the server.
        </p>
      </dd>

      <dt>A good return</dt>
      <dd>
        <p>
          The ball, having been served or returned, shall be struck so that it passes over or
          around the net assembly and touches the opponent's court, either directly or after touching the net assembly.
        </p>
      </dd>

      <dt>The order of play</dt>
      <dd>
        <p>
          In doubles, players on a team must alternate hittin the ball.
        </p>
      </dd>

      <dt>In play</dt>
      <dd>
        <p>
          The ball shall be in play from the moment the ball is served until:
          <ol>
            <li>
              It touches anything other than the playing surface, the net assembly,
              the racket held in the hand, or the racket hand below the wrist, or
            </li>

            <li>
              The rally is otherwise decided as a let or point.
            </li>
          </ol>
        </p>
      </dd>

      <dt>Let</dt>
      <dd>
        <p>
          The rally shall be a let:
          <ol>
            <li>If an otherwise good service touches the net assembly when passing
              over or around it.</li>
            <li>The service is delivered when the receiving player is not ready, 
              provided the receiver does not attempt to strike the ball.</li>
            <li>If failure to make a good service or return is due to a 
              disturbance outside the control of the player.</li>
          </ol>
        </p>
      </dd>

      <dt>Point</dt>
      <dd>
        <p>
          Unless a rally is let, a player shall lose a point:
          <ol>
            <li>If one fails to make a service or return</li>
            <li>If one obstructs the ball</li>
            <li>If one strikes the ball twice successively</li>
            <li>If, except in service, the ball touches one's court before touching one's opponent's court</li>
            <li>If one strikes the ball with a side of the racket whose surface does not comply with ITTF regulations</li>
            <li>If one, or anything one wears or carries moves the playing surface or touches the net assembly</li>
            <li>If one's free hand touches the playing surface</li>
          </ol>
        </p>
      </dd>

      <dt>Game</dt>
      <dd>
        <p>
          A game shall be won by the player or pair first scoring 11 points unless
          both players or pairs score 10 points then the game shall be won by the player
          or pair first scoring subsequently 2 points more than the opposing player or pair.
        </p>
      </dd>
    </dl>
  </div>

  <div class="span4">
    <h2>Modifications to Rules</h2>

    <dl>
      <dt>Game</dt>
      <dd>
        <ul>
          <li>A game may be played to either 11 or 21 points. </li>
          <li>
            The two-subsequent-point rule 
            shall apply as normal if the game is played to 21.
          </li>
        </ul>
      </dd>

      <dt>Challenging</dt>
      <dd>
        <ul>
          <li>A challenge may only be made to someone directly above or below you on the ladder</li>
          <li>Dont' challenge more people than you can play in a reasonable amount of time</li>
          <li>Declining challenges is not possible, although at the agreement of both players, games may be deferred or let.</li>
        </ul>
      </dd>

      <dt>Score Entry</dt>
      <dd>
        <ul>
          <li>The winner of the game should enter the score</li>
        </ul>
    </dl>
  </div>
</div>

