<div class="row-fluid game">
  <div class="span3">
    <div class="thumbnail">
      <%= image_tag game.winner.gravatar_url(:size => '260') %>
    </div>

    <div class='span6 vs'>
      <h1>vs.</h1>
      <div class="label label-info"><%= game.complete_status %></div>
    </div>

    <div class="thumbnail">
      <%= image_tag game.loser.gravatar_url(:size => '260') %>
    </div>
  </div>
</div>

