<% flash.each do |key, value| %>
<%= content_tag :div, :class => "alert alert-#{key}" do %>
<button class="close" data-dismiss="alert">×</button>
<strong><%= key.to_s.humanize %>:</strong>
<%= value %>
<% end %>
<% end %>