<div class="row-fluid">
  <div class="span12">
    <ul class="inline pull-right">
      <li><%= application_version %></li>
      <li><%= valid_html_badge %></li>
      <li><%= travis_badge %></li>
    </ul>
  </div>
</div>