#enter_score.modal{:style => "display:none;"}
  .row-fluid
    .modal-header.span12
      %h3 Complete Match
  %form{:method => "post", :action => "/"}
    .row-fluid
      .modal-body
        %fieldset
          .row-fluid
            .span5
              .control-group#challenger_score
                %label{:for => "challenger_score"}
                .controls
                  .thumbnail
                    %img
                    %input{:type => 'number', :maxlength => 3, :name => 'game[challenger_score]'}
            .span2
              .hidden-phone.vs
                %h3 vs.
            .span5
              .control-group#challenged_score
                %label{:for => "challenged_score"}
                .controls
                  .thumbnail
                    %img
                    %input{:type => 'number', :maxlength => 3, :name => 'game[challenged_score]'}
    .row-fluid
      .modal-footer
        %button.btn.btn-primary{:"data-loading-text" => "Saving Score...", :type => "submit"} Submit Score
        %a.btn{:"data-dismiss" => "modal"} Cancel
