.row-fluid.game
  .span3
    .thumbnail{:class => game.challenger.result_of(game)}
      %img{:src => game.challenger.gravatar_url(:size => 260)}
  .span6.vs
    %h1 vs.
    - if game.complete?
      .label.label-info= "Completed (#{game.score})"
    - else
      .label To be Played
  .span3
    .thumbnail{:class => game.challenged.result_of(game)}
      %img{:src => game.challenged.gravatar_url(:size => 260)}
%hr
