.page-header
  %h1 All Games

#games
  - if @games.empty?
    .alert.alert-info
      %i.icon-info-sign
      No games started yet...
  - @games.each do |game|
    = haml(:"games/game_row", :locals => {:game => game})
