.page-header
  %h1 Challenges

#challenges
  - if @challenges.empty?
    .alert.alert-info
      %i.icon-info-sign
      No challenges right now...
  - @challenges.each do |challenge|
    = haml(:"challenges/challenge_row", :locals => {:challenge => challenge})
