.row.challenge
  .span3
    .thumbnail{:class => challenge_status_of(challenge.from_player, challenge)}
      %img{:src => challenge.from_player.gravatar_url(:size => 260)}
  .span6.vs
    %h1 vs.
    - if challenge.completed?
      .label Completed
    - else
      .label To be Played
  .span3
    .thumbnail{:class => challenge_status_of(challenge.to_player, challenge)}
      %img{:src => challenge.to_player.gravatar_url(:size => 260)}
%hr
