#enter_score.modal{:style => "display:none;"}
  .row-fluid
    .modal-header.span12
      %h3 Complete Match
  .row-fluid
    .modal-body
      %form{:method => "post", :action => "/"}
        %fieldset
          .row-fluid
            .span5
              .control-group#from_player_score
                %label{:for => "from_player_score"}
                .controls
                  .thumbnail
                    %img
                    %input{:type => 'number', :maxlength => 3, :name => 'challenge[from_player_score]'}
            .span2
              .hidden-phone.vs
                %h3 vs.
            .span5
              .control-group#to_player_score
                %label{:for => "to_player_score"}
                .controls
                  .thumbnail
                    %img
                    %input{:type => 'number', :maxlength => 3, :name => 'challenge[to_player_score]'}
  .row-fluid
    .modal-footer
      %button.btn.btn-primary{:type => "submit"} Submit Score
      %a.btn{:"data-dismiss" => "modal"} Cancel
