.page-header
  %h1 Rules &amp; Regulations

.row-fluid
  .span6
    %h2 Game Rules

    %dl
      %dt Serving
      %dd
        %ul
          %li Servers switch every 5 points
          %li Initial server is decided by first scorer
      %dt Games
      %dd
        %ul
          %li Games may be played to either 21 or 11 points

  .span6
    %h2 App Rules

    %dl
      %dt Challenging
      %dd
        %ul
          %li A challenge may only be made to someone directly above or below you on the ladder
          %li The defender of the challenge is the only player who may enter the score (unless live scoring)
          %li Dont' challenge more people than you can play in a reasonable amount of time

.row-fluid
  .span12
    %hr
    %h4 Something missing?
    %p
      %a.btn{:href => "https://github.com/joshmcarthur/latter/edit/master/views/pages/rules.haml"} Fork and Edit this File!

