<fieldset>
  <legend><%= form.object.new_record? ? "New Player" : "Edit Player" %></legend>

  <%= render :partial => 'shared/form_errors', :locals => {:form => form} %>

  <div class="form-actions">
    <%= f.submit "Save Player", :class => 'btn btn-primary' %>
  </div>
</fieldset>
