<% content_for :sidebar do %>
  <%= render 'sidebar' %>
<% end %>

<div id="players">
  <% cache "players-listing-#{Player.maximum(:updated_at).to_i}-#{current_player.try(:id)}" do %>
    <%= sync :partial => 'player', :collection => @players %>
  <% end %>
  <%= render 'players/none' if @players.empty? %>
</div>
