// Place all the styles related to the activity controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#activities {
  margin-top: 20px;
  background-color: #ddd;
  color: #222;
  border-radius: 10px;
  padding: 10%;

  li {
    padding: 8px;
    line-height: 18px;
    text-align: left;
    vertical-align: top;
    border-bottom: 1px dotted #222;

    &:last-child {
      border-bottom: none;
    }
  }
}
