
@mixin badge-line {
	line-height: 48px;
}

.sidebar .popover {
	color: #333;
}

table.badge-table {
	td {
		@include badge-line;

		h3 {
			@include badge-line;
		}
	}

	.player-list {
		padding: 0;
		margin: 0;

		li {
			list-style: none;
			padding: 0;
			margin: 0;
			float: left;
		}
	}
}

