// Place all the styles related to the Games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.modal-body {

    h1.vs {
      text-align: center;
      padding-top: 70px;
    }

    h3 {
      height: 70px;
      text-align: center;
      overflow: hidden;
    }

    #game_challenger_score, #game_challenged_score {
      display: block;
      width: 35%;
      margin: 10px auto;
    }
}

.game {
  margin-bottom: 10px;

  .vs {
    padding-top: 50px;
    text-align: center;

    .rollback-btn {
      margin-top: 15px;
    }
  }
}

#infscr-loading {
  img { display: none; }
  div {
    width: 100%;
    background-color: #FFF;
    color: #222;
    opacity: 0.8;
    line-height: 100px;
    text-align: center;
    font-size: 200%;
    position: fixed;
    bottom: 0px
  }
}
