// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.player_sign_in {
  max-width: 240px;
  margin: auto;
}

.player {
  margin-bottom: 2%;
  padding: 1%;
  width: 98%;
  border-radius: 5px;

  &:nth-child(odd) {
    background-color: #ededed;
  }

  .data_and_actions {
    position: relative;
  }

  .controls {
    margin-left: 0;

    .btn {
      i[class^="icon-"] {
        padding-right: 5px;
      }

      width: 39%;
      font-size: 14px;
    }
  }

  .points_display {
    float: none;
  }

  .ranking_display {
    position: absolute;
    top: 0px;
    right: 0px;
    float: none;

    .trend {
      color: white;
    }
  }

  h3 {
    line-height: 200%;
  }
}


.profile {
  .thumbnail {
    box-shadow: none;
    border: none;
  }

  .info {
    text-align: center;
    margin: 10% auto;

    h3 {
      padding-top: 5px;
    }
  }

  .ranking {
    margin: 5% auto;
  }

  .badges {
    padding-top: 20px;
  }

  .trend { 
    color: white;
  }
}


.show_player {
  .avatar {
    line-height: 80px;
  }

  .name {
    h1 {
      line-height: 50px;
    }

    a {
      font-size: 17px;
      line-height: 30px;
    }

    margin-left: 2%;
  }


  .nav-tabs {
    margin-top: 20px;
  }

}


