@baseFontSize:16px;

html, body {
  height:100%;padding:0;
}

body {
  min-height:100%;
}

.navbar .btn-navbar { float: left; }

.container {
  //avoid the top navbar
  padding-top:60px;
}
li.row-fluid {
  list-style-type:none;
}
.row .spanX {
  width:auto;
}

.row-fluid .spanX {
  width:auto;
}
li.player {margin-bottom:@fluidGridGutterWidth;}
