<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container-fluid">
      <%= player_navigation %>
      <%= anonymous_navigation %>

      <%= link_to 'Latter', root_url, :class => 'pull-right brand' %>
    </div>
  </div>
</div>
